.field {
  display: flex;
  align-items: center;
}

.tag-name {
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 0.1em;
}

.item-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
