<dialog #addTag>
  <input [(ngModel)]="newTag" type="text" placeholder="Введите новый тег" maxlength="20" class="neumorph-input ms-1" />
  <br />
  <div class="d-flex align-items-center">
    <label class="title-text">Выберете цвет: </label>
    <input [(ngModel)]="newTagColor" type="color" class="neumorph-input"/>
    <i class="fa-solid fa-tag fa-xl" [style.color]="newTagColor" style="opacity: 0.7;"></i>
  </div>
  <label *ngIf="isTagError" class="text-danger fw-light" style="font-size: smaller;">Подобный тег уже существует</label>
  <div class="d-flex justify-content-between mt-2">
    <button (click)="addTag.close()" class="neumorph-btn sm-neumorph-btn">Отмена <i class="fa-solid fa-arrow-rotate-left"></i></button>
    <button (click)="addNewTag();" class="neumorph-btn sm-neumorph-btn">Сохранить <i class="fa-solid fa-check"></i></button>
  </div>
</dialog>

<dialog #addItem>
  <input [(ngModel)]="newItemText" type="text" placeholder="Введите новую задачу" maxlength="30" class="neumorph-input ms-1" style="width: 20em" />
  <div class="d-flex justify-content-between mt-2">
    <button (click)="newItemText = ''; addItem.close()" class="neumorph-btn sm-neumorph-btn">Отмена <i class="fa-solid fa-arrow-rotate-left"></i></button>
    <button (click)="addNewItem(); addItem.close();" class="neumorph-btn sm-neumorph-btn">Сохранить <i class="fa-solid fa-check"></i></button>
  </div>
</dialog>

<!---------------------------------------------------------------------------------------------------------->

<div class="list-card-header">
  <label class="title-text">{{isEdit ? "Редактирование" : "Добавление"}}</label>
  <i (click)="closeForm()" class="fa-solid fa-xmark close-icon"></i>
</div>
<hr />

<div>
  <div class="field">
    <label class="simple-text w-25">Название</label>
    <div class="w-75">
      <input [(ngModel)]="todoList.name"
             type="text"
             class="neumorph-input ms-0 mt-0"
             maxlength="20" />
      <label class="secondary-text">{{todoList.name.length}}/20</label>
    </div>
  </div>

  <div class="field">
    <label class="simple-text w-25">Дата</label>
    <input [ngModel]="todoList.date | date:'yyyy-MM-dd'"
           (change)="changeDate($event)"
           type="date"
           class="neumorph-input ms-0 mt-0 w-75" />
  </div>
  <div class="field">
    <label class="simple-text w-25">Тег</label>
    <div class="w-75">
      <input [(ngModel)]="todoList.tag.tagName"
             (focus)="isOpenDropDown = true"
             (focusout)="isOpenDropDown = false"
             type="text"
             readonly="true"
             class="neumorph-input ms-0 mt-0" />
      <button (click)="isOpenDropDown = !isOpenDropDown" (focusout)="isOpenDropDown = false" class="neumorph-btn sm-neumorph-btn ms-0 me-1">
        <i class="fa-solid fa-list-ul"></i>
      </button>
      <button (click)="addTag.showModal();" class="neumorph-btn sm-neumorph-btn mx-0">
        <i class="fa-solid fa-plus"></i>
      </button>

      <ul class="dropdown-tag-list" [ngClass]="isOpenDropDown ? 'dropdown-tag-list-open' : ''" style="z-index: 2">
        <li (click)="tagClick(tag)" *ngFor="let tag of allTags">
          <label class="tag-name simple-text"><i class="fa-solid fa-tag me-2 " [style.color]="tag.color" style="opacity: 0.7;"></i>{{tag.tagName}}</label>
        </li>
        <li class="secondary-text" *ngIf="allTags.length === 0">Нет тегов</li>
      </ul>
    </div>
  </div>
  <div class="field">
    <label class="simple-text w-25">Избранное</label>
    <div class=" field w-75">
      <input [(ngModel)]="todoList.isFavorite"
             type="checkbox"
             class="neumorph-input"
             style="cursor: pointer;" />
      <i class="fa-solid fa-heart big-neumorph-icon ms-2" [ngClass]="todoList.isFavorite ? 'fa-beat' : ''" style="font-size: x-large"></i>
    </div>
  </div>
</div>
<hr style="z-index: 1" />

<div class="d-flex align-items-start">
  <button (click)="addItem.showModal()" class="neumorph-btn sm-neumorph-btn mx-0" title="Добавить новую задачу">
    <i class="fa-solid fa-plus"></i>
  </button>

  <div class="list w-100" style="height: 16em;">
    <div *ngFor="let item of todoList.list" class="neumorph-list-card">
      <div class="d-flex align-items-center" style="width: 90%;">
        <input [(ngModel)]="item.isReady" (change)="markAsReady(item)" type="checkbox" class="neumorph-input" />
        <label class="item-text" [ngClass]="item.isReady ? 'crossed-simple-text' : 'simple-text'">{{item.text}}</label>
      </div>

      <button (click)="deleteItem(item.id)" class="neumorph-btn sm-neumorph-btn mx-0" title="Удалить пункт">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
<hr />

<div class="list-card-header mb-0">
  <button (click)="closeForm()" class="neumorph-btn sm-neumorph-btn my-0">Отмена <i class="fa-solid fa-arrow-rotate-left"></i></button>
  <button (click)="save()" [disabled]="!isValid()" class="neumorph-btn sm-neumorph-btn my-0">Сохранить <i class="fa-solid fa-check"></i></button>
</div>
