.favorite-panel {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.fav-todo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  flex-wrap: wrap;
}

.fav-card {
  width: 90%;
}

.part-list {
  overflow: hidden;
  height: 10em;
  mask-image: linear-gradient(#000, transparent);
}

@media (max-width: 1370px) {
  .fav-todo-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1090px) {
  .fav-todo-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .fav-todo-list {
    grid-template-columns: 1fr;
  }
}
