.favorite-panel {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.fav-todo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  flex-wrap: wrap;
}

.fav-card {
  height: 15em;
  width: 90%;
}

#thirdDiv {
  width: 40%;
}

@media (max-width: 1370px) {
  .fav-todo-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1090px) {
  .fav-todo-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .fav-todo-list {
    grid-template-columns: 1fr;
  }
}

