@import url("..\\ClientApp\\node_modules\\@fortawesome\\fontawesome-free\\css\\all.css");

:root {
  --bg-color: #efefef;
  --text-color: #606060;
  --link-hover-color: #000000;
  --stroke-color: #b5b5b524;
  --secondary-text-color: #bababa;
  --outset-shadow-default: -6px -6px 14px rgba(255, 255, 255, .7), -6px -6px 10px rgba(255, 255, 255, .5), 6px 6px 8px rgba(255, 255, 255, .075), 6px 6px 10px rgba(0, 0, 0, .15);
  --outset-shadow-hover: -2px -2px 6px rgba(255, 255, 255, .6), -2px -2px 4px rgba(255, 255, 255, .4), 2px 2px 2px rgba(255, 255, 255, .05), 2px 2px 4px rgba(0, 0, 0, .1);
  --outset-shadow-active: inset -2px -2px 6px rgba(255, 255, 255, .7), inset -2px -2px 4px rgba(255, 255, 255, .5), 2px 2px 2px rgba(255, 255, 255, .075), inset 2px 2px 4px rgba(0, 0, 0, .15);
  --inset-shadow-default: inset -2px -2px 6px rgba(255, 255, 255, .7), inset -2px -2px 4px rgba(255, 255, 255, .5), 2px 2px 2px rgba(255, 255, 255, .075), inset 3px 3px 10px rgba(0, 0, 0, .15);
  --inset-shadow-focus: inset -2px -2px 6px rgba(255, 255, 255, .7), inset 0px 0px 4px rgba(255, 255, 255, .5), 2px 2px 2px rgba(255, 255, 255, .075), inset 1px 1px 2px rgba(0, 0, 0, .15);
  --header-shadow: -6px -6px 14px rgba(255, 255, 255, .7), inset -6px -6px 10px rgba(255, 255, 255, .5), 6px 6px 8px rgba(255, 255, 255, .075), 0px 6px 20px rgba(0, 0, 0, .15);
  --header-height: 4em;
}

body {
  background-color: var(--bg-color);
  margin-top: calc(var(--header-height) + 3em);
  margin-inline: 0;
}

dialog {
  background-color: var(--bg-color);
  border-color: transparent;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: var(--outset-shadow-default);
}

hr {
  color: var(--secondary-text-color);
}

.dialog-card {
  height: 40.3em;
  width: 30em;
}

.close-icon {
  color: var(--text-color);
  font-size: x-large;
  cursor: pointer;
}

.showNav {
  right: 0 !important;
}

.r-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: -30%;
  width: 70px;
  height: 100vh;
  background-color: var(--bg-color);
  transition: .5s;
  z-index: 99;
  margin: var(--header-height) 0 0 0 !important;
  border-radius: 0 !important;
}

.header {
  top: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding-inline: 3em;
  margin-bottom: 2.5em;
  box-shadow: var(--header-shadow);
  position: fixed;
}

.main-container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.neumorph-btn {
  margin: 0.5em;
  padding: 0.5em 1em;
  background: var(--bg-color);
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-family: system-ui;
  font-weight: 500;
  color: var(--text-color);
  box-shadow: var(--outset-shadow-default);
}

  .neumorph-btn:hover:enabled {
    box-shadow: var(--outset-shadow-hover);
  }

  .neumorph-btn:active:enabled {
    box-shadow: var(--outset-shadow-active);
  }
  .neumorph-btn:disabled {
    color: var(--secondary-text-color);
    font-weight: 100;
    box-shadow: var(--outset-shadow-hover);
  }

.sm-neumorph-btn {
  font-size: 14px;
  padding: 0.3em 0.8em;
}

.neumorph-input {
  margin: 0.5em;
  padding: 0.5em 1em;
  background: var(--bg-color);
  border-radius: 50px;
  border-width: thin;
  border-color: var(--stroke-color);
  outline: none;
  cursor: text;
  letter-spacing: 0.1em;
  font-family: system-ui;
  font-weight: 500;
  color: var(--text-color);
  box-shadow: var(--inset-shadow-default);
}

  .neumorph-input:focus {
    box-shadow: var(--inset-shadow-focus);
  }

  .neumorph-input[type=checkbox] {
    accent-color: var(--secondary-text-color);
    box-shadow: none;
  }

.neumorph-card {
  margin: 0.5em;
  padding: 1em;
  background: var(--bg-color);
  border-radius: 20px;
  box-shadow: var(--outset-shadow-default);
}

.neumorph-logo {
  color: var(--bg-color);
  font-size: 5em;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-shadow: var(--outset-shadow-default);
  -webkit-text-stroke: 1px var(--stroke-color);
  transition: 2s;
}

  .neumorph-logo:hover {
    color: var(--text-color);
  }

.neumorph-list-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1em;
  margin-block: 0.5em;
  padding-inline: 1em;
  padding-block: 0.5em;
  background: var(--bg-color);
  border-radius: 50px;
  box-shadow: var(--inset-shadow-default);
}

.header-logo {
  font-size: 2.5em !important;
  text-decoration: none;
  -webkit-text-stroke: 1px var(--stroke-color);
}

.title-text {
  color: var(--text-color);
  text-decoration: none;
  font-family: system-ui;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.simple-text {
  color: var(--text-color);
  text-decoration: none;
  font-family: system-ui;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.crossed-simple-text {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-family: system-ui;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: line-through;
}

.secondary-text {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-family: system-ui;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.big-neumorph-icon {
  color: var(--bg-color);
  text-shadow: var(--outset-shadow-default);
  font-size: xx-large;
  -webkit-text-stroke: 1px var(--stroke-color);
}

.mr-1 {
  margin-right: 0.5em !important;
}
.mr-2 {
  margin-right: 1em !important;
}
.mr-3 {
  margin-right: 1.5em !important;
}

/*--------------------------*/

@media (max-width: 1150px) {
  .neumorph-logo {
     font-size: 4.5em;
  }
}

@media (max-width: 900px) {
  .home-container {
    display: block;
    width: 100%;
  }

  .home-list-panel {
    width: 90%;
    margin-inline: auto;
  }

  .home-functional-panel {
    width: 90%;
    margin-inline: auto;
  }
}

@media (max-width: 670px) {
  .neumorph-logo {
    font-size: 3.5em;
  }

  .header-logo {
    font-size: 1em;
  }
}
