.home-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.home-list-panel {
  height: 70vh;
  width: 25%;
  overflow: auto;
}

.home-functional-panel {
  height: calc(100% - 6em);
  width: 55%;
}
