<dialog #listCard class="dialog-card">
  <list-card [todoList]="currTodoList"
             (close)="listCard.close(); ngOnInit()">
  </list-card>
</dialog>

<dialog #add class="dialog-add-edit">
  <add-edit-list [isEdit]="false"
                 (close)="add.close(); ngOnInit()">
  </add-edit-list>
</dialog>

<dialog #addTag>
  <input [(ngModel)]="newTag" type="text" placeholder="Введите новый тег" maxlength="20" class="neumorph-input ms-1" />
  <br />
  <div class="d-flex align-items-center">
    <label class="title-text">Выберете цвет: </label>
    <input [(ngModel)]="newTagColor" type="color" class="neumorph-input" />
    <i class="fa-solid fa-tag fa-xl" [style.color]="newTagColor" style="opacity: 0.7;"></i>
  </div>
  <label *ngIf="isTagError" class="text-danger fw-light" style="font-size: smaller;">Подобный тег уже существует</label>
  <div class="d-flex justify-content-between mt-2">
    <button (click)="addTag.close()" class="neumorph-btn sm-neumorph-btn">Отмена <i class="fa-solid fa-arrow-rotate-left"></i></button>
    <button (click)="addNewTag();" class="neumorph-btn sm-neumorph-btn">Сохранить <i class="fa-solid fa-check"></i></button>
  </div>
</dialog>

<!---------------------------------------------------------------------------------------------------------->

<div class="home-container" (window:resize)="onResize($event)">
  <div class="neumorph-card filter-panel">
    <div class="position-relative">
      <input [(ngModel)]="selectedTag"
             (focus)="isOpenDropDown = true"
             (focusout)="isOpenDropDown = false"
             type="text"
             placeholder="Выберете тег"
             readonly="true"
             class="neumorph-input my-0"
             style="width: 12em"
             id="tagInput" />
      <button (click)="isOpenDropDown = !isOpenDropDown" (focusout)="isOpenDropDown = false" class="neumorph-btn sm-neumorph-btn ms-0 me-1"><i class="fa-solid fa-list-ul"></i></button>
      <ul class="dropdown-tag-list" [ngClass]="isOpenDropDown ? 'dropdown-tag-list-open' : ''" style="z-index: 2; right: 0;">
        <li (click)="filterByTag(tag.tagName)" *ngFor="let tag of allTags">
          <label class="tag-name simple-text"><i class="fa-solid fa-tag me-2" [style.color]="tag.color" style="opacity: 0.7;"></i>{{tag.tagName}}</label>
        </li>
        <li class="secondary-text" *ngIf="allTags.length === 0">Нет тегов</li>
      </ul>
    </div>

    <div>
      <i class="fa-solid fa-magnifying-glass ms-2" style="color: var(--secondary-text-color);"></i>
      <input [(ngModel)]="nameToFind"
             (input)="filterByName()"
             type="text"
             placeholder="Введите название списка"
             class="neumorph-input my-0"
             style="width: 17em"
             id="nameInput"/>
    </div>

    <div id="thirdDiv" class="d-flex justify-content-between">
      <input [(ngModel)]="selectedDate"
             (change)="filterByDate()"
             type="date"
             class="neumorph-input my-0"
             id="dateInput" />

      <button (click)="resetFilter()" class="neumorph-btn sm-neumorph-btn">
        Удалить фильтры <i class="fa-solid fa-filter-circle-xmark"></i>
      </button>
    </div>
  </div><hr />

  <div class="home-panels">
    <div class="neumorph-card home-functional-panel mb-4">
      <div class="just-panel">
        <div class="d-flex">
          <div class="neumorph-card todo-count">
            <label class="title-text">{{todoList.length}}</label>
            <label class="secondary-text">Списков</label>
          </div>
          <div class="neumorph-card todo-count">
            <label class="title-text">{{favoriteCount}}</label>
            <label class="secondary-text">Избранное</label>
          </div>
        </div>

        <div class="d-flex flex-column">
          <button (click)="add.showModal()" class="neumorph-btn special-btn">Список <i class="fa-regular fa-plus"></i></button>
          <button (click)="addTag.showModal();" class="neumorph-btn special-btn">Тег <i class="fa-regular fa-plus"></i></button>
        </div>
      </div>

      <div *ngIf="windowWidth < 900 ? false : true" class="mt-4">
        <label class="title-text mb-2 text-center">Добро пожаловать в веб-приложение "TO-DO LIST"!</label>
        <label class="simple-text" style="text-align: justify">
          Данное приложение выполняет функции планировщика списка дел, позволяет создавать, редактировать и
          удалять ваши списки, а так же распределять их по датам в календаре и добавлять в избранное.
          <br />- Для создания списка вам необходимо указать его название, выбрать дату, выбрать тег из уже существующих
          или добавить новый, добавить сами задачи в список и, если необходимо, пометить список как избранный.
          <br />- Для просмотра всех избранных списков воспользуйтесь вкладкой <label class="title-text">"Избранное"</label>,
          на которой предоставлены инструменты для дополнительной фильтрации и удобного поиска.
          <br />- Для просмотра запланированных на определенные даты списков воспользуйтесь вкладкой <label class="title-text">"Календарь"</label>.
        </label>
      </div>
    </div>

    <div *ngIf="isLoading" class="w-100 d-flex justify-content-center align-items-center" style="color: var(--secondary-text-color);">
      <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"></i>
      <label class="fw-light ms-2">Загрузка данных...</label>
    </div>

    <div *ngIf="filteredTodoList.length === 0 && !isLoading" class="w-100 d-flex justify-content-center align-items-center" style="color: var(--secondary-text-color);">
      <label class="fw-light ms-2">Списки отсутствуют</label>
    </div>

    <div *ngIf="!isLoading && filteredTodoList.length !== 0" class="home-list-panel">
      <div *ngFor="let list of filteredTodoList" class="neumorph-card todo-card mb-3">

        <div class="d-flex justify-content-center">
          <label (click)="showTodoListModal(list); listCard.showModal()" title="{{list.name}}" class="title-text" style="cursor: pointer;">{{list.name}}</label>
        </div><hr />

        <div class="d-flex justify-content-between">
          <label class="simple-text"><i class="fa-solid fa-tag" [style.color]="list.tag.color" style="opacity: 0.7;"></i> {{list.tag.tagName}}</label>
          <label class="simple-text">{{list.readyPer}}%</label>
        </div>

        <div class="part-list">
          <div *ngFor="let item of list.list" class="neumorph-list-card">
            <div class="d-flex align-items-center">
              <input type="checkbox" [(ngModel)]="item.isReady" disabled="true" class="neumorph-input" />
              <label [ngClass]="item.isReady ? 'crossed-simple-text' : 'simple-text'">{{item.text}}</label>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <label class="simple-text"><i class="fa-solid fa-calendar"></i> {{list.date.toLocaleDateString()}}</label>
        </div>

      </div>
    </div>
  </div>

</div>
