<dialog #delete>
  <label class="title-text">Вы действительно хотите удалить список {{todoList.name}}?</label>
  <div class="d-flex justify-content-around mt-3">
    <button (click)="delete.close()" class="neumorph-btn sm-neumorph-btn my-0">Нет</button>
    <button (click)="deleteList(); delete.close()" class="neumorph-btn sm-neumorph-btn my-0">Да</button>
  </div>
</dialog>

<dialog #edit class="dialog-add-edit">
  <add-edit-list [todoList]="todoList"
                 [isEdit]="true"
                 (close)="edit.close();">
  </add-edit-list>
</dialog>

<!---------------------------------------------------------------------------------------------------------->

<div class="list-card-header">
  <i [ngClass]="todoList.isFavorite ? 'fa-solid fa-heart fa-beat big-neumorph-icon' : ''"></i>
  <label class="title-text">{{todoList.name}}</label>
  <i (click)="closeForm()" class="fa-solid fa-xmark close-icon"></i>
</div>

<hr />

<div class="list-info">
  <label class="title-text">
    Дата:
    <label class="simple-text">{{todoList.date.toLocaleDateString()}}</label>
    <i class="fa-solid fa-calendar ms-1"></i>
  </label>
  <label class="title-text">
    <i class="fa-solid fa-tag me-1"></i>
    <label class="simple-text">{{todoList.tag}}</label>
  </label>
</div>

<div class="list">
  <div *ngFor="let item of todoList.list" class="neumorph-list-card">
    <div class="d-flex align-items-center">
      <input type="checkbox" [(ngModel)]="item.isReady" class="neumorph-input" />
      <label [ngClass]="item.isReady ? 'crossed-simple-text' : 'simple-text'">{{item.text}}</label>
    </div>
  </div>
</div>

<div>
  <label class="title-text">Процент выполнения:</label>
  <div class="progress-container neumorph-card">
    <div class="progerss-line" [style.width.%]="todoList.readyPer">
      <label class="title-text">{{todoList.readyPer}}%</label>
      <i class="fa-solid fa-person-running fa-fade" style="color: var(--secondary-text-color)"></i>
    </div>
  </div>
</div>

<hr />

<div class="list-card-header mb-0">
  <button (click)="delete.showModal()" class="neumorph-btn sm-neumorph-btn my-0" title="Удалить список">Удалить <i class="fa-solid fa-trash"></i></button>
  <button (click)="edit.showModal()" class="neumorph-btn sm-neumorph-btn my-0" title="Редактировать список">Редактировать <i class="fa-solid fa-pen"></i></button>
</div>
