.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  margin: 0;
  align-content: center;
  transition: 2s;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.v-navbar-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-link {
  transition: 1s;
}

  .nav-link:hover {
    letter-spacing: 0.17em;
    color: var(--link-hover-color);
  }



.slide-bar-icon {
  color: var(--text-color);
  font-size: x-large;
  cursor: pointer;
}

.slide-bar-div {
  display: flex;
  align-items: center;
  margin-right: -1.5em;
}

.v-user-name {
  transform: rotate(90deg);
  margin-block: 2.5em;
}

@media (max-width: 1600px) {
  .navbar {
     width: 70%;
  }
}
