.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  margin: 0;
  align-content: center;
  transition: 2s;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.nav-link {
  transition: 1s;
}

  .nav-link:hover {
    letter-spacing: 0.17em;
    color: var(--link-hover-color);
  }

.big-neumorph-icon {
  color: var(--bg-color);
  text-shadow: var(--outset-shadow-default);
  font-size: xx-large;
  -webkit-text-stroke: 1px var(--stroke-color);
}

.slide-bar-icon {
  color: var(--text-color);
}

@media (max-width: 1600px) {
  .navbar {
     width: 70%;
  }
}
